.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
}
.info a {
    color: black;
    text-decoration: none;
}
.modalPic img{
    margin: 10px;
    border-radius: 10px;
    height: 75vh;
    width: 75vw;
}
.pic{
    border-radius: 10px;
    cursor: pointer;
}